/* 
This is default and very simple styles file for Yasb. 
For more information about configuration options, please visit the Wiki https://github.com/amnweb/yasb/wiki
*/
:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #282936;
  --base: #1e1e2e;
  --mantle: rgba(24, 24, 37, 0.5);
  --crust: rgba(17, 17, 27, 0.85);
  --main: #10151d;
}
/* Global styles for ToolTip */
QToolTip {
  padding: 6px;
  color: #cdd6f4;
  font-size: 12px;
  background-color: #1e1e2e;
  border: 0px solid #313244;
  border-radius: 6px;
}
* {
  font-size: 12px;
  color: var(--subtext0);
  font-weight: 600;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
}
.yasb-bar {
  padding: 4px 5px;
  margin: 0;
  background-color: var(--crust);
  border-radius: 8px;
}
.widget {
  padding: 0 12px;
  margin: 0;
}
.icon {
  font-size: 16px;
}
.widget .label {
  padding: 0px 2px;
}
.apps-widget {
  padding: 0 4px 0 2px;
}
.apps-widget .label {
  font-size: 14px;
  padding: 0 2px;
  color: var(--subtext0);
}
.apps-widget .label:hover {
  color: var(--text);
}
.power-menu-widget .label {
  color: var(--red);
  font-size: 13px;
}
.power-menu-popup {
  background-color: transparent;
}
.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: var(--crust);
  color: var(--text);
  border-left: 4px solid rgba(58, 59, 83, 0);
  border-right: 4px solid rgba(58, 59, 83, 0);
  border-top: 4px solid rgba(58, 59, 83, 0);
  border-bottom: 4px solid rgba(58, 59, 83, 0);
  margin: 0px;
}
.power-menu-popup .button.hover {
  background-color: var(--base);
  border-left: 4px solid var(--base);
  border-right: 4px solid var(--base);
  border-top: 4px solid var(--base);
  border-bottom: 4px solid var(--base);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--overlay2);
}
.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--surface2);
}

.power-menu-popup .button.cancel .icon {
  padding: 0;
  margin: 0;
}
.power-menu-popup .button.cancel .label {
  color: var(--red);
  margin: 0;
}
.power-menu-popup .button.cancel {
  height: 32px;
  border-radius: 4px;
}
.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--surface2);
  font-weight: 600;
}
.weather-widget .icon {
  font-size: 18px;
  margin: 0 2px 1px 0;
  color: var(--yellow);
}
.media-widget {
  padding: 0 0 0 10px;
  margin: 0;
  /* background-color: #74c7ec; */
}
.media-widget .label {
  background-color: rgba(37, 24, 35, 0.7);
  padding: 0px;
  font-size: 12px;
}
.media-widget .label.maintext {
  padding-top: 3px;
}
.media-widget .btn {
  color: #989caa;
  padding: 0 1px;
  margin: 0;
  font-family: Segoe Fluent Icons;
  font-weight: 400;
}
.media-widget .btn:hover {
  color: #babfd3;
}
.media-widget .btn.next {
  margin-right: 10px;
}
.media-widget .btn.play {
  font-size: 14px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: #4e525c;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
}
.taskbar-widget {
  padding: 0;
  margin: 0;
  border: none;
}
.taskbar-widget .app-icon {
  padding: 0 6px;
  border: none;
  margin: 0;
}
.komorebi-workspaces .widget-container {
  margin-left: 0px;
}
.komorebi-workspaces .widget-container {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
.komorebi-workspaces .offline-status {
  color: #627199;
  font-size: 12px;
  padding: 0 4px;
  font-weight: 600;
}
.komorebi-workspaces .ws-btn {
  border: none;
  background-color: rgb(83, 86, 99);
  margin: 0 3px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0);
}
.komorebi-workspaces .ws-btn:hover {
  color: rgba(0, 0, 0, 0);
  background-color: rgb(139, 143, 156);
}
.komorebi-workspaces .ws-btn.populated {
  color: rgba(0, 0, 0, 0);
  background-color: rgb(139, 143, 156);
}

.komorebi-workspaces .ws-btn.active {
  color: rgba(0, 0, 0, 0);
  background-color: var(--red);
  width: 36px;
  height: 10px;
}
